.footer {
  padding: 65px 30px;
  position: relative;
  background: #242424;
  font-size: 16px;
  line-height: 24px;
  color: #fff;

  @media (max-width: 576px) {
    padding: 35px 0px;
  }
}

.topFooter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;

  @media (max-width: 768px) {
    flex-wrap: wrap;
  }

  & > div {
    width: 27%;

    @media (max-width: 768px) {
      width: 50%;
    }

    @media (max-width: 576px) {
      width: 100%;
    }
  }
}

.footerLink {
  color: #fff;
  display: block;
}

.secure {
  font-size: 14px;
  line-height: 24px;
  position: relative;
  padding-left: 30px;
  margin-bottom: 22px;

  @media (max-width: 768px) {
    margin-top: 50px;
  }


  &:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    bottom: 4px;
    background-image: url(../../../assets/footer/secure.svg);
    background-repeat: no-repeat;
  }
}

.cardIcons {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.needHelp {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: bold;

  @media (max-width: 576px) {
    margin-top: 50px;
  }
}

.desc {
  font-size: 12px;
  margin-bottom: 15px;
  line-height: 1.5;
}

.email {
  font-size: 14px;
  font-weight: 700;
  color: #F0500B;
}

.bottomFooter {
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-wrap: wrap;
  }

  & > div {
    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
