.filterForm {
  height: 100%;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  padding: 25px;

  @media (max-width: 992px) {
    position: absolute;
    top: 0;
    left: 100px;
    transform: translateX(1000px);
  }
}

.filtersBtn {
  font-weight: 400!important;
  display: none;
  cursor: pointer;
  text-align: right;
  font-size: 12px;
  line-height: 24px;
  color: #666666;
  background-color: white;
  align-items: center;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  padding: 0 12px 0 11px;
  height: 31px;
  margin-bottom: 15px;

  &:focus,  &:hover {
    color: #666666!important;
  }

  img {
    margin-left: 15px;
  }

  @media (max-width: 992px) {
    display: flex;
  }
}

.formLabel {
  display: block;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
}

.checkBoxGroup {
  margin-top: 30px;
}

.searchBtn {
  width: 100%;
  background: transparent;
  color: #F0500B;
  font-size: 16px;
  line-height: 30px;
  padding: 0 25px;
  height: 53px !important;
  font-weight: 799 !important;
  margin-top: 20px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #F0500B;
  border-radius: 3px;

  &:hover {
    background: #F9F9F9;
    border-color: #DB480A;
    color: #DB480A!important;
  }
}
